{% extends "locadora/base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Perfil de {{ user.username }}</h2>
    <h3>Suas Locações:</h3>
    <ul class="list-group">
        {% for locacao in user.locacao_set.all %}
            <li class="list-group-item">
                {{ locacao.filme.titulo }} - {{ locacao.data_locacao }}
            </li>
        {% empty %}
            <li class="list-group-item">Nenhuma locação encontrada.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'listar_filmes' %}" class="btn btn-primary mt-3">Ver Filmes Disponíveis</a>
</div>
{% endblock %}