{% extends "locadora/base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Bem-vindo, {{ user.username }}!</h2>
    <p>Este é o seu perfil na locadora de filmes.</p>
    <h3>Suas Locações:</h3>
    <ul class="list-group">
        {% for locacao in user.locacao_set.all %}
            <li class="list-group-item">
                {{ locacao.filme.titulo }} - {{ locacao.data_locacao }}
            </li>
        {% empty %}
            <li class="list-group-item">Nenhuma locação encontrada.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}